
body{
    margin: 0;
}
.father{
    width: 100%;
    height: 600px;
    background: silver;

    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.box{
    height: 150px;
    width: 250px;
    background: black;
}
.box:nth-child(1){
    background: aqua;
}
.box:nth-child(2){
    background: darkmagenta;
}
.box:nth-child(3){
    background: green;
}
