body{
    margin: 0;
}
.father{
    width: 1000px;
    height: 600px;
    background: silver;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
/*MAIN BLOCK start*/
.MainBlock, .centerBlock, .rightblock {
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 300px;
    border: 2px solid black;
    background: white;
}
.title1, .title2, .title3{
    height: 100px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bottom, .bottom2, .bottom3{
    display: flex;
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.minifather, .minifather2, .minifather3{
    display: flex;
    justify-content: center;
    align-content: center;

}
.text1, .text2, .text3{
    height: 100px;
    width: 250px;
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*MAIN BLOCK end*/




